# Supabase — supabase.com se milega
REACT_APP_SUPABASE_URL=https://daehfpvkvlcajehqghsh.supabase.co
REACT_APP_SUPABASE_ANON_KEY=your_key_here
REACT_APP_ANTHROPIC_KEY=your_key_here
REACT_APP_RAZORPAY_KEY=your_key_here
